extends layout

block content

 h1= title
 - let kingid = toShow._id
 - let king_name = toShow.king_name
 - let kingdom = toShow.kingdom
 - let years_ruled = toShow.years_ruled


 div.row(class='mb-2')
  div.mr-1 ID is
  div #{kingid}
-let actionid = "/resource/king/" + kingid
form(id='KingForm', action= kingid, method="PUT")
 div.form-group
  label.kingAttr(for='king_name') King name
  input#king_name(type='text', name='king_name', value= king_name)
 div.form-group
  label.kingAttr(for='kingdom') Kingdom
  input#kingdom(type='text', name='kingdom', value= kingdom)
 div.form-group
  label.kingAttr(for='years_ruled') Years ruled
  input#years_ruled(type='number', name='years_ruled', value= years_ruled)
input(type="submit")

div(class="container-fluid")
div(class="row m-1")
 each item in items
 - let destination = `dispatch(\"/kings/update?id=${item._id}\")`
    div(class="row-sm-2", class="m-1") Item #{item.king_name}(#{item.kingdom}) is #{item.years_ruled}
    button.btn( class="btn-primary ml-1", onclick= destination) Update
script.
    function dispatch(path){
    window.location.href=path
}


script.
 document.forms['KingForm'].addEventListener('submit', (event) => {
 event.preventDefault();
 // TODO do something here to show user that form is being submitted
 fetch(event.target.action, {
 method: 'PUT',
 body: new URLSearchParams(new FormData(event.target)) // event.target is the form
 }).then((resp) => {
 return resp.json(); // or resp.text() or whatever the server sends
 }).then((body) => {
 alert("Save succeded")
 // TODO handle body
 }).catch((error) => {
 // TODO handle error
 alert("Save failed " + error )
 });
 });